html{height:100%;}

input[readonly] {background-color:gray;}

body{ background-color: black; height:100%;}

h1,a{font-family:Tahoma;}
a{color:#B6E61B;}
li{color:white;}

.wrap{text-align:center; width:98%; height: 98%; margin: 0 auto; border: 3px solid #B6E61B;}

.header{background-color:#6C8223; text-align:left; padding:10px;}
.headerSearch{ height: 15px; padding-top:25px; width: 40%; float:right;}
.headerText{float:left;}

.searchBar{width:60%; height:25px;}
.searchButton{width:30%; height:30px;}

.main{background-color:gray; height:74%; text-align:left; padding:10px;}

input[type=submit]{background-color:#B6E61B; text-align: center; border:2px solid black; font-family:Tahoma; padding: 5px; -webkit-border-radius:10px;}
input[type=submit]:hover{background-color:black; color:#B6E61B; border:2px solid #B6E61B; transition-duration:0.4s;}

.addForm{background-color:#6C8223; margin: 0 auto; width: 700px; height:80%; text-align:center; padding:25px; border:1px solid black;}
.adminPage{margin:0 auto; text-align: center; font-size:24pt;}
.updateForm{background-color:#6C8223; margin: 0 auto; width:750px; height: 80%; text-align:center; padding: 25px; border:1px solid black;}

.footer{background-color:#6C8223; text-align:left; padding:9px;}

.tbl{border:3px solid black;border-collapse: collapse;}
th{padding-right:20px;padding-left: 20px; padding-bottom:8px; background-color:#B6E51B; color:black; text-align:center;}
td{padding-right:20px; padding-left:20px; padding-bottom:5px;text-align: center; vertical-align: middle;}
tr{border:1px solid black;}
tr:nth-child(odd) {
    background-color: black;
    color: #B6E51B;
}
tr:nth-child(odd):hover {
    background-color: gray;
}
tr:nth-child(even) {
    background-color: black;
    color: #B6E51B;
}
tr:nth-child(even):hover {
    background-color: gray;
}
table, td, th {
    border: 3px solid #B6E51B;
    padding-right:15px;
    padding-left: 15px;
    padding-top:5px;
    padding-bottom:5px;
    font-family: Tahoma;
}
label{font-family: Tahoma;}
/*Fat Erik's Pipelist*/
/*http://css.maxdesign.com.au/listamatic/horizontal32.htm*/
.navcontainer { background-color:black; padding:2px; width:99.7%; text-align:center;}

.navlist
{
list-style: none;
padding: 0;
margin: 0;
font-family: Tahoma;
font-size:20px;
}

.navlist li
{
display: inline;
padding: 0;
margin: 0;
}

.navlist li:before { content: "| "; }
.navlist li:first-child:before { content: ""; }

/*IE workaround*/
/*All IE browsers*/
* html #navlist li
{
border-left: 1px solid black;
padding: 0 0.4em 0 0.4em;
margin: 0 0.4em 0 -0.4em;
}

/*Win IE browsers - hide from Mac IE\*/
* html #navlist { height: 1%; }

* html #navlist li
{
display: block;
float: left;
}

/*End hide*/
/*Mac IE 5*/
* html #navlist li:first-child { border-left: 0; }